<!DOCTYPE html>
     
<html>
  <head>
   <title>My todolist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  


    <body>
          
         <div align="center" width="500">
      <h1 style="color :Red;">Enter your Activities</h1>
            <br><br><br>
             
             <form method="post" action="/api/postItem">
             	<p>
             		<input type="text" name="newItem" id="newItem">
             		<input type="submit" class="btn btn-success"></button>
             	</p>
             </form>
             <table>
             	<% item.forEach( (val) => { %>
             	<tr>
             		
             		<td><%= val.value %></td>
             		<td>
	             		<a href="/api/edit/<%=val._id%>" title="Edit the todo item">
		             	<button type="button" class="btn btn-primary">Edit</button>
		             	</a>	
             		</td>
	             	
             		<td>
             			<a href="/api/delete/<%=val._id%>" title = "Delete todo item">
		             	<button type="button" class="btn btn-danger">Delete</button>
		             	</a>	
             		</td>
              </tr> 	
             <%}); 
             %>	
             </table>
             



</body>
</html>
